// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

@mainfont: 'Playfair Display', serif;
@lightpink: #FFB0F2;
@slightlydarkerpink: #D5A3FF;
@purpleish: #D703FF;

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 1%;
	font-family: @mainfont;

	img {
		max-width: 20%;
		height: auto;
	}

	.navbar {
		margin: 1%;
	
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			max-width: 40%;
			margin-left: 60%;
			font-size: 80%;

			a {
				text-decoration: none;
			} // closes a

		} // closes ul
	} // closes ..navbar
	.mainheader {
		background-color: @lightpink;
		max-width: 100%;
		border: solid black 1px;
		border-radius: .5%;

		.mainheadercontent {
			margin: 2%;
			display: flex;
			flex-direction: column;
		
		h1 {
			font-size: 2.3rem;
		} // closes h1

		.border {
			border: solid black .5px;
			max-width: 70%;
		} // closes border

		.headerimage {
			max-width: 70%;
		} // closes headerimage
		.headercontact {
			display: flex;
			box-sizing: border-box;
			width: 6.2%;
			margin-top: 1%;
			padding: .5%;
			border: solid black 1px;
			background-color: @purpleish;

		}
	} // closes mainheadercontent
} // closes .mainheader

	.topcontent {
		margin: .5%;
	
	
	} // closes .topcontent


} // closes html and body

